@import "variables";
@import "mixins";

body {
	margin: 0;
	font-family: @font-family;
	font-size: @font-size;
	background: @body-bg;
	color: @body-color;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: @font-size-big;
}
h2 {
	font-size: @font-size-medium;
}

header {
	height: 100vh;
	background: @header-bg;
	color: @header-color;
	text-align: center;

	.container {
		.absolute-middle;
	}
}